main {
    flex: 1 0 auto;
}

nav {
    background-color: paleturquoise;
}

li, a {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 650;
}

.logo {
    margin-right: auto;
    font-size: 28px;
    font-weight: 700;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 30px 5%;
    list-style-type: none;
}

.right li {
    display: inline-block;
    padding: 0px 20px;
}

.right li a {
    transition: all 0.3s ease 0s;
}

.right li a:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

.card-title {
    font-size: 30px;
    font-weight: 600;
}
